<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Minah Kim Tech Blog</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/leftnav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/highlightjs/atom-one-light.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/comment.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap-utilities.min.css' %}">
    <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.esm.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
{# Header #}
{% include 'layout/../layout/header.html' %}

{# Body #}
<div class="container">
    <div class="row mt-3">
        {% include 'layout/../layout/leftnav.html' %}

        <div class="col-md-9">
            <div class="pt-3 pb-3">
                {% for file in file_list %}
                    <article class="blog-post mb-3 {% if not forloop.last %}border-bottom{% endif %}">
                        <a class="text-black" href="/post/{{ file.title }}" style="text-decoration-line: none;">
                            <h2 class="blog-post-title">{{ file.title }}</h2>
                        </a>
                        <p class="blog-post-meta">{{ file.last_modified_time }}</p>
                        <p>{{ file.summary }}...</p>
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{# Footer #}
{% include 'layout/../layout/footer.html' %}
</body>
</html>