<div class="container">
    <header class="pt-3 pb-3 border-bottom">
        <div>
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <div class="nav col-12 col-lg-auto me-lg-auto mb-2 mb-md-0">
                    <a href="/blog" style="text-decoration-line: none;">
                        <p class="mt-2 h5 text-secondary"><b>Minah Kim Tech Blog</b></p>
                    </a>
                </div>
            </div>
        </div>
    </header>
</div>