<div class="container">
    <header class="p-3 py-4 mb-4 border-bottom">
        <div class="d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
            <div class="d-flex align-items-center">
                <p class="mt-2 h5 text-secondary"><b>Wonderminah Tech Blog</b></p>
            </div>

            <div class="d-flex align-items-center">
                <form class="w-100">
                    <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                </form>
            </div>
        </div>
    </header>
</div>