<div id="nav" class="collapse col-md-3">
    <div class="position-sticky" style="top: 2rem;">
        {# About #}
        <div class="pt-3 pb-3">
            <h5>About</h5>
            <p class="mb-0">Web Application Engineer. <br>From South Korea, Based in Japan.</p>
        </div>

        {# Search #}
        <div class="pt-3 pb-3 border-top">
            <form class="col-12 col-lg-auto mb-3 mb-lg-0">
                <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form>
        </div>

        {# First Category #}
        <div class="pt-3 pb-3">
            <h5>Development</h5>
            <ol class="list-unstyled mb-0">
                <li><a style="text-decoration-line : none;" class="link-secondary" href="html">HTML</a></li>
                <li><a style="text-decoration-line : none;" class="link-secondary" href="css">CSS</a></li>
                <li><a style="text-decoration-line : none;" class="link-secondary" href="javascript">Javascript</a></li>
                <li><a style="text-decoration-line : none;" class="link-secondary" href="python">Python</a></li>
                <li><a style="text-decoration-line : none;" class="link-secondary" href="php">Php</a></li>
                <li><a style="text-decoration-line : none;" class="link-secondary" href="mysql">MySQL</a></li>
                <li><a style="text-decoration-line : none;" class="link-secondary" href="linux">Apache</a></li>
                <li><a style="text-decoration-line : none;" class="link-secondary" href="linux">Linux</a></li>
            </ol>
        </div>
    </div>
</div>