<div class="col-md-4">
    <div class="position-sticky" style="top: 2rem;">
        {# About #}
        <div class="pt-3 pb-3">
            <h5>About</h5>
            <p class="mb-0">Web Application Engineer. <br>From South Korea, Based in Japan.</p>
        </div>

        <div class="pt-3 pb-3 border-top">
            <form class="col-12 col-lg-auto mb-3 mb-lg-0">
                <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form>
        </div>
        {# First Category #}

        <div class="pt-3 pb-3">
            <h5>Development</h5>
            <ol class="list-unstyled mb-0">
                <li><a style="text-decoration-line : none;" class="link-secondary" href="#">Javascript</a></li>
                <li><a style="text-decoration-line : none;" class="link-secondary" href="#">Python</a></li>
                <li><a style="text-decoration-line : none;" class="link-secondary" href="#">Php</a></li>
                <li><a style="text-decoration-line : none;" class="link-secondary" href="#">Mysql</a></li>
                <li><a style="text-decoration-line : none;" class="link-secondary" href="#">Memcached</a></li>
                <li><a style="text-decoration-line : none;" class="link-secondary" href="#">Linux</a></li>
            </ol>
        </div>
    </div>
</div>