<div class="col-md-4">
    <div class="position-sticky" style="top: 2rem;">
        {# About #}
        <div class="p-3 mb-4 bg-light rounded">
            <h5>About</h5>
            <p class="mb-0">Web Application Engineer. From South Korea, Based in Japan.</p>
        </div>

        {# First Category #}
        <div class="p-3 border-top">
            <h5>Development</h5>
            <ol class="list-unstyled mb-0">
                <li><a style="text-decoration-line : none;" class="link-secondary" href="#">Javascript</a></li>
                <li><a style="text-decoration-line : none;" class="link-secondary" href="#">Python</a></li>
                <li><a style="text-decoration-line : none;" class="link-secondary" href="#">Php</a></li>
                <li><a style="text-decoration-line : none;" class="link-secondary" href="#">Mysql</a></li>
                <li><a style="text-decoration-line : none;" class="link-secondary" href="#">Memcached</a></li>
                <li><a style="text-decoration-line : none;" class="link-secondary" href="#">Linux</a></li>
            </ol>
        </div>

        {# Second Category #}
        <div class="p-3 border-top">
            <h5>Archives</h5>
            <ol class="list-unstyled mb-0">
                <li><a style="text-decoration-line : none;" class="link-secondary" href="#">March 2021</a></li>
                <li><a style="text-decoration-line : none;" class="link-secondary" href="#">February 2021</a></li>
                <li><a style="text-decoration-line : none;" class="link-secondary" href="#">January 2021</a></li>
                <li><a style="text-decoration-line : none;" class="link-secondary" href="#">December 2020</a></li>
                <li><a style="text-decoration-line : none;" class="link-secondary" href="#">November 2020</a></li>
            </ol>
        </div>
    </div>
</div>